root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{go,templ}]
indent_style = tab

[*.{yaml,json,hcl,md}]
indent_style = space
indent_size = 2

[*.{js,ts,tsx,mjs}]
indent_style = space
indent_size = 4
