package templates

templ DevLoginForm() {
	<form method="post" action="/login/dev">
		<label class="text-sm" for="dev-kthid">Log in by username (dev)</label>
		<div class="flex gap-2">
			<input
				id="dev-kthid"
				required
				type="text"
				name="kthid"
				placeholder="KTH ID"
				class="
					border border-neutral-500 grow
					outline-none focus:border-cerisestrong hover:border-ceriselight
					bg-slate-800 p-1.5 rounded h-8
				"
			/>
			<button
				class="
					bg-[#3f4c66] shrink-0 h-8 w-8 rounded-full
					grid place-items-center pointer
					border border-transparent outline-none focus:border-cerisestrong hover:border-ceriselight
				"
			>
				<img
					src="/public/emergency-exit.svg"
					class="w-3/5 h-3/5 invert"
				/>
			</button>
		</div>
	</form>
}

templ devAutoReload() {
	<script type="module">
		let data = undefined;
		let es = new EventSource("/dev/auto-reload");
		es.onerror = _ => setInterval(() => fetch("/ping").then(resp => resp.text()).then(() => location.reload()).catch(_ => {}), 200);
	</script>
}
